/* Nav & shared Styling */


nav {
    background-color: rgba(31, 30, 87, 1);
    display: flex;
    margin: auto 0 0 0;
    justify-content: space-around;
}

.navitem {
    border: outset rgba(31, 30, 87, 1) 3px;
    color: white;
    text-decoration: none;
    font-family: cursive;
    width: 33%;
    text-align: center;
    padding: 2px;
}

.navitem:hover {
    font-family: serif;
}

section {
    margin: 0 auto;
}

h3 {
    text-align: center;
    margin-block-end: auto;
}

.toparea {
    margin-top: 0px;
}

p {
    margin-block-end: auto;
}

div {
    padding: 5px;
}

/* Home styling */
.homebody {
    position: relative; 
}

.biophoto {
    border: inset 5px lightgray;
    margin: 5px;
}

.LI {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.bioinfo {
    display: block;
    padding: 10px;
}

.bio {
    display: flex;
    justify-content: center;
}

.introarea {
    text-align: center;
}

.petsarea {
    text-align: center;
    padding: 10px;
}

.petcolumns {
    display: flex;
    justify-content: space-around;
}

#petsheader {
    grid-column: 1/span 2;
    text-align: center;
}

.petphoto {
    border: black solid 2px;
    height: 250px;
    margin: 5px;
}

.petphotoarea {
    padding-bottom: 20px;

}

form {
    background-color: rgba(31, 30, 87, 1);
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0; 
}

.forminfo {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

label {
    padding: 0 5px 0 5px;
}

.formintro {
    font-family: cursive;
}

.submit {
    margin: 1em;
}

/* Submission styling */
.thankyouarea {
    width: 100%;
    display: flex;
    justify-content: center;
}

.thankyou {
    background-color: rgb(0, 0, 128, .5);
    border: double navy 7px;
    text-align: center;
    padding: 10px;
    width: max-content;
    font-weight: bold;
    position: absolute;
    top: 25%;
}

.tytext {
    padding-bottom: 10px;
}

.tybutton {
    background-color: navy;
    border-color: navy;
}

.tylink {
    color: white;
    text-decoration: none; 
}

/* About styling */
.aboutbody h3 {
    background-color: navy;
    color: white;
    padding: 5px;
}

.desc {
    font-style: italic;
}

.previous {
    background-color: rgb(0, 0, 128, .5);
    margin: 5px auto;
    border: navy 2px solid;
}

.educationarea {
    display: grid;
    grid-template: 1fr 3fr/ 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

#educationheader {
    grid-column: 1/ span 4;
}

.education {
    background-color: rgb(0, 0, 128, .5);
    border: navy 2px solid;
}

.volunteerskillsarea {
    display: grid;
    grid-template: 1fr 3fr/1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.volunteerarea {
    grid-area: 1/1/span 2/span 1;
    display: grid;
    grid-template: 1fr 3fr/1fr;
    padding: 0px;
}

.volunteercolumn {
    background-color: rgb(0, 0, 128, .5);
    border: navy 2px solid;
}

.skillarea {
    grid-area: 1/2/span 2/ span 2;
    display: grid;
    grid-template: 1fr 3fr/50% 50%;
    padding: 0px;
}

.skillcolumns {
    background-color: rgb(0, 0, 128, .5);
    border: navy 2px solid;
    grid-area: 2/1/span 2/span 2;
    display: grid;
    grid-template: 0px/50% 50%;
}

#skillheader {
    grid-row: 1/span 1;
    grid-column: 1/span 2;
}

#skillcolumn1 {
    grid-row: 2/span 1;
    grid-column: 1/2;
    text-align: center;
}

#skillcolumn2 {
    grid-row: 2/ span 1;
    grid-column: 2/3;
    text-align: center;
}

ul.skilllist {
    list-style: none;
    padding: 0px;
}

.hobbiesarea {
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    grid-row-gap: 5px;
}

.hobby {
    background-color: rgb(0, 0, 128, .5);
    border: navy 2px solid;
    grid-row: 2/span 1;
    grid-column: 1/span 3;
    display: grid;
    grid-template: 0px/1fr 1fr 1fr;
}

#hobbyheader {
    grid-row: 1/span 1;
    grid-column: 1/4;
}

#hobbyBaking {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
}

#hobbyJournal {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
}

#hobbyHiking {
    grid-row: 2/span 1;
    grid-column: 3/span 1;
}

.hobbyphoto {
    height: 250px;
    width: 335px;
}

/* Portfolio styling */
.project {
    display: flex;
}

.projectimage {
    border: black solid 2px;
    height: 250px;
    width: 475px;
    /* Need to replace with more consistent images and add responsive styling instead */
    margin: 5px;
}

/* Responsive styling */
@media (max-width:768px) {
    nav {
        flex-direction: column;
    }

    .navitem {
        width: auto;
    }
    .petcolumns {
        display: block; 
    }

    .petphoto {
        margin: auto;
    }

    form {
        flex-direction: column;
        position: relative; 
        bottom: auto; 
        left: auto; 
    }

    .educationarea {
        display: block;
    }

    .education {
        margin-top: 5px;
    }

    .volunteerskillsarea {
        display: block;
    }

    .hobby {
        display: block;
    }
}