/* Nav Styling */


/* Home styling */
.bio {
    display: flex;
}
.bioinfo {
    display: block;
    margin: 10px;
}
.biophoto {
    border: inset; 
    margin: 5px; 
}

.petsarea {
    display: grid;
    grid-template: 20% 80% / 50% 50%;
    text-align: center;
}

#petsheader {
    grid-column: 1/span 2;
    text-align: center; 
}

.petphoto {
    border: black solid 2px;
    height: 250px;
    margin: 5px;
}

/* About styling */
h3 {
    text-align: center;
}

.previousarea {
    display: grid;
    grid-template: 20% 80%/1fr 1fr 1fr; 
}

#previousheader {
    grid-column: 1/span 3; 
}

.educationarea {
    display: grid;
    grid-template: 20% 80%/ 1fr 1fr 1fr 1fr; 
}

#educationheader {
    grid-column: 1/ span 4;
}

.volunteerskillsarea {
    display: grid;
    grid-template: 20% 80%/1fr 1fr 1fr;
}

.volunteerarea {
    grid-area: 1/1/span 2/span 1;
    display: grid; 
    grid-template: 1fr/1fr;
    border: solid white 5px;
}

.skillarea {
    grid-area: 1/2/span 2/ span 2;
    display: grid;
    grid-template: 20% 80%/50% 50%;
    border: solid white 5px;
}

#skillheader {
    grid-row: 1/span 1;
    grid-column: 1/span 2;
}

#skillcolumn1 {
    grid-row: 2/span 1; 
    grid-column: 1/2;
    text-align: center;
}

#skillcolumn2 {
   grid-row: 2/ span 1; 
   grid-column: 2/3;
   text-align: center;
}

ul.skilllist {
    list-style: none;
}

.hobbiesarea {
    display: grid; 
    grid-template: 20% 80%/ 1fr 1fr 1fr; 
}

#hobbyheader {
    grid-row: 1/span 1; 
    grid-column: 1/4; 
}

section {
    background-color: lightgray;
    border: white 5px solid;
}
/* Portfolio styling */
.project {
    display: flex;
}

.projectimage {
    border: black solid 2px;
    height: 250px;
    width: 475px;
    /* Need to replace with more consistent images and add responsive styling instead */
    margin: 5px;
}