/* Nav & shared Styling */

nav {
    background-color: rgba(31, 30, 87, 1);
    display: flex;
    margin: auto 0 0 0;
    justify-content: space-around;
}

.navitem {
    border: outset rgba(31, 30, 87, 1) 3px;
    color: white;
    text-decoration: none;
    font-family: cursive;
    width: 33%;
    text-align: center;
    padding: 2px;
}

.navitem:hover {
    font-family: serif;
}

section {
    margin: 0 auto;
}

h3 {
    text-align: center;
    margin-block-end: auto;
}

.toparea {
    margin-top: 0px;
}

p {
    margin-block-end: auto;
}

div {
    padding: 5px;
}

/* Responsive styling */
@media (max-width:768px) {
    nav {
        flex-direction: column;
    }

    .navitem {
        width: auto;
    }
}